
{% extends 'zodiakApp/adminHome.html' %}
{% load staticfiles %}

{% block morecss %}
<link rel="stylesheet" href="{% static 'zodiakApp/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'zodiakApp/css/form/all-type-forms.css' %}">
{% endblock morecss %}

{% block contents %}
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <h4>Mail Box</H4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="mailbox-area mg-b-15">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
            <div class="hpanel responsive-mg-b-30">
                <div class="panel-body">

                    <ul class="mailbox-list">
                        <li class="active">
                            <a href="#">
                                {% if request.user.is_staff %}
                                    <span class="pull-right">{{newmailsCountAdmin}}</span>
                                {% else %}
                                    <span class="pull-right">{{newmailsCountUser}}</span>
                                {% endif %}
                                    <i class="fa fa-envelope"></i> Inbox
                                </a>
                        </li>

                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt mailbox-hd">
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% if request.user.is_staff %}
                            {% for mail in newmails %}
                            <div class="row col-md-12 col-md-12 col-sm-12 col-xs-12">
                                <div {% if mail.getlastcomments.commented_by = "admin" %} style="background-color:#d9edf7; cursor:pointer !important;" {% else %} style="background-color:#ccc; cursor:pointer !important;" {% endif %} class="job_comment"  job_pk={{mail.pk}}>
                                    <a style="font-size: 10px;">{{mail.job_id}}</a><br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.msg}}</a>
                                    <br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.msg_created_on}}</a><br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.commented_by}}</a>
                                </div><hr>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% for mail in newmails %}
                            <div class="row col-md-12 col-md-12 col-sm-12 col-xs-12">
                                <div {% if mail.getlastcomments.commented_by = "admin" %} style="background-color:#d9edf7; cursor:pointer !important;" {% else %} style="background-color:#ccc; cursor:pointer !important;" {% endif %} class="job_comment"  job_pk={{mail.pk}}>
                                    <a style="font-size: 10px;">{{mail.job_id}}</a><br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.msg}}</a><br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.msg_created_on}}</a><br>
                                    <a style="cursor: pointer !important; font-size: 10px;">{{mail.getlastcomments.commented_by}}</a><br>
                                </div>
                            </div><hr>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>


<div id="PrimaryModalalert" class="modal modal-edu-general fullwidth-popup-InformationproModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="all-form-element-inner">

                                    {% for comment in comments %}
                                        {{comment.msg}}
                                        {{comment.commented_by}}
                                    {% endfor %}

                                    <hr>

                                    <form action="" method="post" id="myform1" enctype="multipart/form-data">


                                        {% csrf_token %}

                                        <div class="form-group-inner example-6">
                                            <div class="row" id="example-6">
                                                
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <textarea name="commented_by" class="form-control" id="commented_by" placeholder="Drop Comment here"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group-inner">
                                         <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <div class="login-horizental">
                                                    <button class="btn btn-sm btn-primary login-submit-cs pull-right" type="submit">Save</button>
                                                </div>
                                            </div>
                                         </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{% endblock contents %}


{% block specialscripts %}

<script>

    $('body').on('click','.job_comment', function(e){
        var job_id = $(this).attr('job_pk')
        $.ajax({
            data: {'job_id':job_id},
            type: 'GET',
            url: "{% url 'zodiakApp:get_job_comments' %}",

            success:function(data){
               $('#PrimaryModalalert').replaceWith(data);
               $('#PrimaryModalalert').modal('handleUpdate').modal('show');
               console.log('working');

            },

            error:function(data){
               console.log('not working');
            }
         })
    });


</script>

<script src="{% static 'zodiakApp/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-export.js' %}"></script>

<script src="{% static 'zodiakApp/js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/mock-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/select2.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/moment.min.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/xediable-active.js' %}"></script>

{% endblock specialscripts %}

