<span class="customer"  id="customerDetails">

<div class="form-group-inner">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <label class="login2">Consignee's Name</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <input style="font-size:10px;" id="consignees_name" value="{{user_obj.user.first_name}}" name="consignees_name" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group-inner">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <label class="login2">Consignee's Email</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <input style="font-size:10px;" id="consignee_email" value="{{user_obj.user.email}}" name="consignee_email" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group-inner">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <label class="login2">Consignee's Number</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <input style="font-size:10px;" id="consignees_number" value="{{user_obj.phone_number}}" name="consignees_number" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group-inner">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <label class="login2">Consignee's Country</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <input style="font-size:10px;" id="consignee_country" value="{{user_obj.country}}" name="consignee_country" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group-inner">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <label class="login2">Consignee's Address</label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <textarea style="font-size:10px;" name="consignees_address" value="{{user_obj.office_aadress}}" class="form-control" id="consignees_address" placeholder="Consignee's Address">{{user_obj.office_aadress}}</textarea>
        </div>
    </div>
</div>

</span>