{% extends 'zodiakApp/adminHome.html' %}
{% load staticfiles %}

{% block morecss %}
<link rel="stylesheet" href="{% static 'zodiakApp/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'zodiakApp/css/form/all-type-forms.css' %}">
{% endblock morecss %}

{% block contents %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">


                    <div id="myTabContent" class="tab-content custom-product-edit">

                        <div class="product-tab-list tab-pane fade active in" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="devit-card-custom">
                                <form action="{% url 'zodiakApp:new_fin_info_edit' fin_obj.pk %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <input type="hidden" name="job_finance" value="fin_obj.job_finance">

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Charge Type</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control" value="{{fin_obj.charge_type}}" type="text"
                                                name="charge_type" readonly>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Amount</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input required class="form-control" value="{{fin_obj.amount}}" type="number" name="amount" min="1" step="any">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Vaildity Period</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input required class="form-control" value="{{fin_obj.validity_period}}" type="number" name="validity_period" min="1" step="any">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Paid By</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <select style="font-size:10px; height: 28px;" name="paid_by" required class="form-control">
                                                        <option value="{{fin_obj.paid_by}}">{{fin_obj.paid_by}}</option>
                                                        <option value="Client">Client</option>
                                                        <option value="Agent">Agent</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Received</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <select style="font-size:10px; height: 28px;" name="received" required class="form-control">
                                                    <option value="{{fin_obj.received}}">{{fin_obj.received}}</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Date Paid</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input placeholder="dd/mm/yyyy 12:00 PM" required class="form-control" value="{{fin_obj.date_paid}}" type="text" name="date_paid">
                                                <h6 style="color: grey;">HINT: dd/mm/yyyy 12:00 PM</h6>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Refundable</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <select style="font-size:10px; height: 28px;" name="refundablle_as" required class="form-control">
                                                        <option value="{{fin_obj.refundablle_as}}">{{fin_obj.refundablle_as}}</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Comments</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <textarea required class="form-control" name="comments">{{fin_obj.comments}}</textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="login-btn-inner">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}

{% block specialscripts %}
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-export.js' %}"></script>

<script src="{% static 'zodiakApp/js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/mock-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/select2.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/moment.min.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/xediable-active.js' %}"></script>
{% endblock specialscripts %}

