<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fiverr5</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="font/css/open-iconic-bootstrap.css" rel="stylesheet">

  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <style type="text/css">
  	.sidebar-items{
      padding-top: 0.2em;
      padding-bottom: 0.2em
  	}
  	.testimonial-group > .row {
	  overflow-x: auto;
	  white-space: nowrap;
	}
	td{
		white-space:nowrap;		
	}
	th{
		white-space:nowrap;		
	}
  </style>


  

</head>

<body style="font-size: 0.8em">

	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-0" style="background: linear-gradient(to top, #131313 0%, #424242 100%);">
        <button class="btn btn-warning py-0" id="menu-toggle" style="background: linear-gradient(to bottom, #ffff00 0%, #ffcc00 100%);">Masters</button>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-danger" href="#"><span class="oi oi-external-link"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" href="#"><span class="oi oi-cloudy"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">011002 Dicesion Nigeria...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="#"><span class="oi oi-star"></span><span class="oi oi-star"></span><span class="oi oi-star"></span></a>
            </li>            
          </ul>
        </div>
               
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 py-0">
            <li class="nav-item active">
              <a class="nav-link btn btn-dark py-0 mt-2" href="#" style="color: white; max-width: 10em;background: linear-gradient(to bottom, #000066 0%, #000099 100%);">Send to Customs </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"><span class="oi oi-file"></span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link text-white" href="#">0</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"><span class="oi oi-flag"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="#"><span class="oi oi-document"></span>Save</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="#"><span class="oi oi-document"></span></a>
            </li>            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

	<nav class="navbar navbar-expand-lg navbar-light bg-light mt-0 py-0 pt-1">                       
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Shipment time: FCL direct</h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Master: </h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Routing: ZZ5 > 22C</h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Shipper: </h6> 
		</div>
		<div class="col-sm col-md py-0 my-0" ><h6 style="font-size: 1rem">Operationally Closed: <span class="oi oi-lock-unlocked"></span></h6>
		</div>
		</div>		      	
                               
      </nav>


      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom my-0 py-0 pb-0">                       
      	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Incoterm: </h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">House: </h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 1rem">Status: Order</h6> 
		</div>
		<div class="col-sm col-md py-0 my-0 border-right" ><h6 style="font-size: 0.9rem">Consignee: Decision Nigeria Limited</h6> 
		</div>
		<div class="col-sm col-md py-0 my-0" ><h6 style="font-size: 1rem">Accounting: <span class="oi oi-lock-unlocked"></span></h6> 
		</div>		      	
        </div>
      </nav>


  <div class="d-flex" id="wrapper">
    
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu </div>
      <div class="list-group list-group-flush">
        <a href="fiverr3.html" class="list-group-item list-group-item-action bg-light sidebar-items">Overview</a>
        <a href="index.html" class="list-group-item list-group-item-action bg-light sidebar-items">General</a>
        <a href="fiverr5.html" class="list-group-item list-group-item-action bg-primary text-white sidebar-items" style="background: linear-gradient(to top, #0000cc 0%, #0066ff 100%);">Orders</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Partners</a>
        <a href="fiverr6.html" class="list-group-item list-group-item-action bg-light sidebar-items">Packages</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Routing</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Payables</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Recievables</a>
        <a href="fiverr7.html" class="list-group-item list-group-item-action bg-light sidebar-items">Docs Out</a>
        <a href="fiverr8.html" class="list-group-item list-group-item-action bg-light sidebar-items">Docs In</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Connected Entries</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Communication</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Audit</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-items">Events</a>
        <a href="fiverr1.html" class="list-group-item list-group-item-action bg-light sidebar-items">Operations</a>
        <a href="fiverr2.html" class="list-group-item list-group-item-action bg-light sidebar-items">Shipments</a>
        <a href="fiverr9.html" class="list-group-item list-group-item-action bg-light sidebar-items">Login Form</a>
      </div>
    </div>

    <div id="page-content-wrapper">      
      <div class="container-fluid">
        

        <div class="container-fluid mt-2">
			<div class="row">
				<div class="col-md-4">
					<ul class="nav navbar navbar-expand-lg navbar-light py-1">
						<li class="nav-item text-primary">
							Order
						</li>						
						<li class="nav-item ml-md-auto">
							 <a class="nav-link btn py-0 px-1" href="#" style="font-size: 0.8em; color: #232323;background: linear-gradient(to bottom, #dedede 0%, #adadad 100%);">Add Order Container </a>
						</li>
						<li class="nav-item">
							 <a class="nav-link btn py-0 px-1 ml-1" href="#" style="font-size: 0.8em; color: #232323;background: linear-gradient(to bottom, #dedede 0%, #adadad 100%);"><span class="oi oi-cog"></span></a>
						</li>
					</ul>
				</div>
				<div class="col-md-8">
					<div class="alert alert-dismissable alert-warning">
						 
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
							×
						</button>
						<h4>
							Alert!
						</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<ul class="nav navbar navbar-expand-lg navbar-light bg-light py-1" style="background: linear-gradient(to top, #efefef 0%, #dfdfdf 100%);">
						<li class="nav-item">
							Order/Booking Details
						</li>						
					</ul>
					<div class="container testimonial-group" style="overflow-y: auto;">
						
						<table class="table table-sm" style="font-size: 0.8em;">
						    <thead>
						      <tr>
						        <th></th>
						        <th>Container Type</th>
						        <th>Quantity</th>
						        <th>Volume CBM</th>
						        <th>Gross Weight</th>
						        <th></th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td><span class="oi oi-document"></span></td>
						        <td>20 ft Open T0</td>
						        <td>2</td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      <tr>
						        <td></td>
						        <td>20 ft Open T0</td>
						        <td>2</td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      <tr>
						        <td></td>
						        <td>20 ft Open T0</td>
						        <td>2</td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      
						      <tr>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>						      
						      <tr>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      <tr>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      <tr>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>
						      <tr>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td></td>
						        <td><a href=""><span class="oi oi-cog"></span></a> <a href=""><span class="oi oi-trash"></span></a></td>
						      </tr>


						    </tbody>
						  </table>
					</div>

				</div>
				<div class="col-md-9">
					<ul class="nav navbar navbar-expand-lg navbar-light bg-light py-1" style="background: linear-gradient(to top, #efefef 0%, #dfdfdf 100%);">
						<li class="nav-item">
							Booking Confirmation
						</li>						
					</ul>
					<div class="row">
						<div class="col-md-12">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-7">
										<form class="p-2" style="font-size: 0.8em">
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Shipping Line</label>
										    <div class="col-sm-8">
										      <input type="email" class="form-control form-control-sm" id="" placeholder="American Export Lines">							      
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Voyage No.</label>
										    <div class="col-sm-8">
										      <input type="email" class="form-control form-control-sm" id="" placeholder="">
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Booking Conf#</label>
										    <div class="col-sm-8">
										      <input type="" class="form-control form-control-sm" id="" placeholder="">
										    </div>
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Confirm By</label>
										    <div class="col-sm-8">
										      <input type="" class="form-control form-control-sm" id="" placeholder="">
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Cut-off Date</label>
										    <div class="col-sm-8">
										      <input id="datepicker" class="form-control form-control-sm"/>
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Cut-off Time</label>
										    <div class="col-sm-8">								
										      <input id="timepicker" class="form-control form-control-sm" />
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Vessel</label>
										    <div class="col-sm-8">
										      <input type="text" class="form-control form-control-sm" id="" placeholder="">
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">Term Available</label>
										    <div class="col-sm-8">
										      <input id="datepicker3" class="form-control form-control-sm"/>
										    </div>			    										    
										  </div>										  		  
										</form>									
									</div>
									<div class="col-md-5" style="font-size: 0.8em">
										<div class="form-group row mb-2 mt-2">
										    <label for="" class="col-sm-4 col-form-label">Free Date</label>
										    <div class="col-sm-8">
										      <input id="datepicker5" class="form-control form-control-sm"/>
										    </div>			    										    
										</div>
										<div class="form-group row mb-1">
										    <label for="" class="col-sm-4 col-form-label">AMS Date</label>
										    <div class="col-sm-8">
										      <input id="datepicker4" class="form-control form-control-sm"/>
										    </div>			    										    
										  </div>
										<div class="form-group row mb-1">
										    <label for="" class="col-sm-12 col-form-label">Confirmation Notes:</label>
										    <div class="col-sm-12">
										      <textarea class="form-control form-control-sm" rows="5" id="comment"></textarea>
										    </div>			    										    
										  </div>
										  <div class="form-group row ml-auto justify-content-end">
										    <div class="col-sm-5">
										      <button type="submit" class="btn btn-primary">Submit</button>
										    </div>
										  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="nav navbar navbar-expand-lg navbar-light bg-light py-1" style="background: linear-gradient(to top, #efefef 0%, #dfdfdf 100%);">
						<li class="nav-item">
							Details
						</li>						
					</ul>
					<div class="row">
						<div class="col-md-12">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-7">
										<form class="p-2" style="font-size: 0.8em">
										  <div class="form-group row mb-2">
										    <label for="" class="col-sm-5 col-form-label">No of Packs</label>
										    <div class="col-sm-7">
										      <input type="email" class="form-control form-control-sm" id="" placeholder="2">
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-2">
										    <label for="" class="col-sm-5 col-form-label">Gross Weight</label>
										    <div class="col-sm-7">
										      <input type="email" class="form-control form-control-sm" id="" placeholder="">
										    </div>			    										    
										  </div>
										  <div class="form-group row mb-2">
										    <label for="" class="col-sm-5 col-form-label">Volume</label>
										    <div class="col-sm-7">
										      <input type="" class="form-control form-control-sm" id="" placeholder="">
										    </div>
										  </div>
										  <div class="form-group row mb-2">
										    <label for="" class="col-sm-5 col-form-label">Weight MSC</label>
										    <div class="col-sm-7">
										      <input type="" class="form-control form-control-sm" id="" placeholder="">
										    </div>			    										    
										  </div>		  
										</form>									
									</div>
									<div class="col-md-5">
										<div class="form-check mb-0">
										  <label class="form-check-label">
										    <input type="checkbox" class="form-check-input" value="">Dangerous Goods
										  </label>
										</div>
										<div class="form-group row mb-2">
										    <label for="" class="col-sm-12 col-form-label">Desc of goods:</label>
										    <div class="col-sm-12">
										      <textarea class="form-control form-control-sm" rows="3" id="comment" placeholder="Text"></textarea>
										    </div>			    										    
										  </div>										  
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<ul class="nav navbar navbar-expand-lg navbar-light bg-light py-1" style="background: linear-gradient(to top, #efefef 0%, #dfdfdf 100%);">
						<li class="nav-item">
							Pickup Details
						</li>						
					</ul>
				</div>
			</div>
		</div>
        
        
        
      </div>
    </div>
  </div>

  <script>

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#datepicker2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#datepicker3').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#datepicker4').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#datepicker5').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#timepicker').timepicker({
            uiLibrary: 'bootstrap4'
        });
  </script>

</body>

</html>
