
{% load staticfiles %}

<html>
<body>
    <head>
        <!-- <link href="{% static 'sokohali/css/package_invoice.css' %}" rel="stylesheet"> -->
    </head>

<div style="font-size: larger;">
    <strong>
        Invoice for Job ID: {{ pkg.job_id }} <br/>
        Batch No: {{pkg.batch_type}}<br/>
        <div style="color:green;">Status: {{pkg.job_status}}</style></div>
    </strong>
    </div>
    </p>
    <div>
        Thank you for shipping with zodiak.<br/><br/>

        Your shipment booking {{pkg.job_id}} was received on {{pkg.job_created_on|date:'M/d/Y'}} at {{pkg.job_created_on|time:'h:i:s'}} GMT. <br/>
    </div>
    </p>



    <div>
        To complete your order, print and keep this document. When your bill is updated in your account, use the banking details below to pay at any of our listed banks by wire or direct deposit
        <br/>
    </div>
    </p>

    <p>
    <table style="min-width: 600px;max-width: 600px;border-collapse: collapse;border: 2px solid black;padding:5px;">
        <tbody>
            <tr style="border: 1px solid black; padding: 5px 10px;">
                <th >
                        Services
                </th>
                <th>
                        Amount
                </th>

            </tr>
            <tr style="background-color: #CCCCCC;">
                <td>Total Actual Weight</td>
                <td>{{ pkg.box_weight_Actual|floatformat:2 }} kgs </td>
            </tr>
            <tr style="background-color: #CCCCCC;">
                <td>Total Gross Weight</td>
                <td>{{ pkg.gross_weight|floatformat:2 }} kgs </td>

            </tr>

            {% if pkg.finances.insure %}
            <tr>
                <td>PS&DG</td>
                <td>(₦) {{pkg.finances.insurance_charge|default_if_none:"0.0"}}</td>
            </tr>
            {% endif %}

            {% if pkg.finances.demurrage %}
            <tr>
                <td>PS&DG</td>
                <td>(₦) {{pkg.finances.demurrage_rate|default_if_none:"0.0"}}</td>
            </tr>
            {% endif %}

            <tr>
                <td>VAT</td>
                <td>(₦) {{ pkg.finances.VAT_charge|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Additional Charge</td>
                <td>(₦) {{pkg.finances.other_charges_due_carrier|default_if_none:"0.0"}}</td>>
            </tr>

            <tr>
                <td>Duty</td>
                <td>(₦) {{ pkg.finances.duty_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Terminal Charge </td>
                <td>(₦) {{pkg.finances.terminal_charge_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Shipping Charge</td>
                <td>(₦) {{pkg.finances.shipping_line_charge_amount|default_if_none:"0.0"}}</td>>
            </tr>

            <tr>
                <td>SON Charge</td>
                <td>(₦) {{ pkg.finances.son_charge_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Airline Charge </td>
                <td>(₦) {{pkg.finances.airline_charge_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Quarantine Charge</td>
                <td>(₦) {{pkg.finances.quarantine_charge_amount|default_if_none:"0.0"}}</td>>
            </tr>

            <tr>
                <td>NDLEA Charge</td>
                <td>(₦) {{ pkg.finances.ndlea_charge_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>NAFDAC Charge</td>
                <td>(₦) {{pkg.finances.nafdac_charge_amount|default_if_none:"0.0"}}</td>
            </tr>

            <tr>
                <td>Shipping  Charge</td>
                <td>(₦) {{pkg.finances.shipping_line_charge_amount|default_if_none:"0.0"}}</td>>
            </tr>

            <tr style="font-weight: bold; background-color: #CCCCCC;">
                <td>TOTAL</td>
                <td>(₦) {{pkg.finances.jobtotalCost|default_if_none:"0.0"}}</td>
            </tr>

            <tr {% if pkg.job_amount_paid == 0.0 or pkg.job_amount_paid == Null %} style="color: red; font-weight: bold;" {% else %}style="color: green; font-weight: bold; border: 1px solid black; padding: 5px 10px;"
                {% endif %}>
                <td>Amount Paid</td>
                <td>(₦) {{pkg.job_amount_paid|default_if_none:"0.0"}}</td>
            </tr>

            <tr {% if pkg.job_amount_balance > 0.1 or pkg.job_amount_balance == Null %} style="color: red; font-weight: bold;" {% else %}style="color: green; font-weight: bold; border: 1px solid black; padding: 5px 10px;"
                {% endif %}>
                <td>Balance</td>
                <td>(₦) {{pkg.job_amount_balance|default_if_none:"0.0"}}</td>
            </tr>

        </tbody>
    </table>
    </p>
    <div>
        <strong>
            Shipping Cost Calculation
        </strong>
        <ol>
            <li>
                All shipping costs prior to receiving your items at our warehouse facility are <strong>ESTIMATES</strong>. It is only when we physically verify the dimensions and weight of what you are shipping that your actual costs can be populated. It may be lower or higher.
            </li>
            <li>
                We use the higher of two weight values to calculate your shipping cost. These are the actual or gravitational weight (what you see on a scale) or dimensional weight (a derivative of the dimensions of your package). For more info on actual and dimensional weights, please see our <a href="Javascript:newPopup('/faq/')">FAQ</a>.
            </li>
            <li style="color:red;">
                All prices are subject to change without prior notice due to the fluctuation in exchange rate
            </li>
<!--              if pkg.apply_discount and pkg.discount_rate > 0 %}
            <li>
                When a discount is offered on a shipment, the total shipping cost shown in the invoice is the discounted shipping cost.
            </li>
            {% endif  -->
        </ol>
    </div>
    <div>
        <strong>Payment Methods</strong>
        <p>
            You can click on the "PAY THIS BALANCE" button beside the displayed balance in your user account to pay by credit card or SokoPay. You can also click on the "PAY THIS BALANCE" button on your account standing widget. However, the value in your account standing is the sum of all balances you owe.  It is better to pay when all the packages in your booking have been updated as received or when the status of your shipment has changed to departed . You must pay before we deliver. To prevent delayed delivery, please pay before your packages reach desired destination.
        </p>
        <!-- <p>
            Wire or direct deposit payments can be made into any of these accounts below. You must enter the payment details against your order by clicking on the "PAY THIS BALANCE" button. When your payment is approved, your balances would return to zero, freeing up your packages for delivery.
        </p> -->
    </div>
    <!-- </p> -->

    <!-- <table style="min-width: 600px;max-width: 600px;border-collapse: collapse;border: 2px solid black;padding:5px;">
        <tr text-align: justify;>
            <td colspan = 2 style="border: 1px solid black; padding: 5px 10px;">Payments in Nigerian Naira (&#8358;)</td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 5px 10px;">Account Name</td>
            <td style="border: 1px solid black; padding: 5px 10px;">{{ marketer }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black; padding: 5px 10px;">Account at Guaranty Trust Bank, Nigeria</td>
            <td style="border: 1px solid black; padding: 5px 10px;">0171988384</td>
        </tr>
        <tr>
            <td>Account at UBA Bank, Nigeria</td>
            <td>1019192708</td>
        </tr>
        <tr>
            <td>Account at Zenith Bank Plc, Nigeria</td>
            <td>1013700567</td>
        </tr>
    </table> -->
    <!-- </p> -->

        <!--<table style="min-width: 600px;max-width: 600px;border-collapse: collapse;border: 2px solid black;padding:5px;">
            <tr>
                <td colspan = 2 style="border: 1px solid black; padding: 5px 10px;">Payments in US Dollars (USD)</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px 10px;">Account Name</td>
                <td style="border: 1px solid black; padding: 5px 10px;">{{ marketer }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px 10px;">DOM Account at Guaranty Trust Bank</td>
                <td style="border: 1px solid black; padding: 5px 10px;">0140428107</td>
            </tr>
        </table>-->

        <!-- <table>
            <tr>
                <td colspan = 2 style="border: 1px solid black; padding: 5px 10px;">Payments in US Dollars (USD)</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Bank</td>
                <td>Wells Fargo</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Routing Number</td>
                <td>530006215</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Account Number</td>
                <td>9348159394</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Company</td>
                <td>{{ marketer }} Shipping.com LLC</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Address</td>
                <td>269 Sheffield Street, Mountainside, NJ 07092</td>
            </tr>
        </table> -->
    </p>
    <table style="min-width: 600px;max-width: 600px;border-collapse: collapse;border: 2px solid black;padding:5px;">
        <tr>
            <td style="font-weight: bold;">What was shipped</td>
            <td style="font-weight: bold;">Number of Packages</td>
            <td style="font-weight: bold;">Number of Containers</td>
            <td style="font-weight: bold;">Carrier Name</td>
            <td style="font-weight: bold;">CBM</td>
            <td style="font-weight: bold;">Gross Weight</td>
            <td style="font-weight: bold;">Actual Weight</td>
            <td style="font-weight: bold;">EDOA</td>
            <td style="font-weight: bold;">DOA</td>
        </tr>
            {% for item in pkg.getminibatches %}
                {% if not item.deleted %}
                <tr>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.type_of_container}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.no_of_packages}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.type_of_container}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.carrier_name}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.cbm}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.gross_wgh}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.net_wgh}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.exp_date_of_arrival}}</td>
                    <td style="border: 1px solid black; padding: 5px 10px;">{{item.date_of_arrival}}</td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
    </p>

    <div>
        <p><strong>Conditions for non-attachment of item invoices that you agreed to:</strong></p>
        <p>
            <ul>
                <li>Not attaching an invoice may delay the processing of your booking.</li>
                <li>You hereby declare that you are the rightful owner of the items contained in this shipment.</li>
                <li>You hereby declare that no part of the items contained in this shipment has been procured by fraud, theft, deceit, or any other illegal means.</li>
                <li>You fully and knowingly agree that if your items or booking is suspected to be of fraudulent origins, you WILL be required to provide a valid proof of ownership before your items can ship out.</li>
                <li>You fully and knowingly agree to the additional scrutiny that may be placed on this booking which may cause delays to your shipment.</li>
                <li>You fully and knowingly agree that you have been informed that if your items are determined to be of fraudulent origins, we are obligated to report and submit details such as your registered names, email, phone number and banking data to the appropriate security agencies.</li>
            </ul>
        </p>
    </div>

</body>
</html>
