<div id="PrimaryModalalertPayment" class="modal modal-edu-general fullwidth-popup-InformationproModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body" style="text-align: left;">
                <div class="single-pro-review-area mt-t-30 mg-b-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">


                    <div id="myTabContent" class="tab-content custom-product-edit">

                        <div class="product-tab-list tab-pane fade active in" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                <div class="devit-card-custom">
                                                    <form action="{% url 'zodiakApp:new_fin_info_edit' fin_obj.pk %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <input type="hidden" name="job_finance" value="fin_obj.job_finance">

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Charge Type</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control" value="{{fin_obj.charge_type}}" type="text"
                                                name="charge_type" readonly>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Amount</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input required class="form-control" value="{{fin_obj.amount}}" type="number" name="amount" min="1" step="any">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Paid By</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                        <select style="font-size:10px; height: 28px;" name="paid_by" required class="form-control">
                                                        <option value="{{fin_obj.paid_by}}">{{fin_obj.paid_by}}</option>
                                                        <option value="Client">Client</option>
                                                        <option value="Agent">Agent</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Received</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <select style="font-size:10px; height: 28px;" name="received" required class="form-control">
                                                    <option value="{{fin_obj.received}}">{{fin_obj.received}}</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Date Paid</label>
                                            </div>

                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <div class="date-picker-inner">
                                                    <div class="form-group data-custon-pick" id="data_1">
                                                        <div class="input-group date" data-provide="datepicker">
                                                            <input required style="font-size:10px;" type="text" value="{{fin_obj.date_paid}}" name="date_paid" id="date_paid" class="form-control" value="">

                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-th"></span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Valid Till</label>
                                            </div>

                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <div class="date-picker-inner">
                                                    <div class="form-group data-custon-pick" id="data_1">
                                                        <div class="input-group date" data-provide="datepicker">
                                                            <input required style="font-size:10px;" type="text" value="{{fin_obj.validity_period}}" name="validity_period" id="validity_period" class="form-control" value="">

                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-th"></span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Time Paid</label>
                                            </div>

                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <div class="date-picker-inner">
                                                    <div class="form-group data-custon-pick" id="data_1">
                                                        <div class="input-group date">
                                                            <input required style="font-size:10px;" type="time" value="{{fin_obj.time_paid}}" name="time_paid" id="time_paid" class="form-control" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Refundable</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                    <select style="font-size:10px; height: 28px;" name="refundablle_as" required class="form-control">
                                                        <option value="{{fin_obj.refundablle_as}}">{{fin_obj.refundablle_as}}</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Receipt</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                <input style="font-size: 8px;" id="invoice" name="invoice" type="file" class="form-control" />
                                                {% if fin_obj.invoice %}
                                                <h6><a style="color: blue;" href="{{fin_obj.invoice.url}}">{{fin_obj.invoice}}</a></h6>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Receipt</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                                                <input style="font-size: 8px;" id="invoice" name="invoice" type="file" class="form-control" />
                                                {% if fin_obj.invoice %}
                                                <h6><a style="color: blue;" href="{{fin_obj.invoice.url}}">{{fin_obj.invoice}}</a></h6>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Comments</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <textarea required class="form-control" name="comments">{{fin_obj.comments}}</textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group-inner">
                                        <div class="login-btn-inner">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>