
{% extends 'zodiakApp/adminHome.html' %}
{% load staticfiles %}

{% block morecss %}
<link rel="stylesheet" href="{% static 'zodiakApp/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'zodiakApp/css/form/all-type-forms.css' %}">
{% endblock morecss %}

{% block contents %}

<form action="" class="form-horizontal">
<div class="wrapper">
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <select id="fld_default_comm_type" name="fld_default_comm_type[]" defaultValue="-1" class="m-wrap span10" field="fld_default_comm_type" appEditor="true">

                    </select>
                </div>
            </div>
        </div>
        <div class="span4 checkerAlign">
            <div class="control-group">
                <div class="controls">

                </div>
            </div>
        </div>
        <div class="span2 checkerAlign"><input type="checkbox" name="fld_active[]" id="fld_active" editType="booleanEdit" appEditor="true"/></div>
    </div>
</div>
    <div><a href="#" id="addMore">Add Row</a></div>
</form>

<script>
    $("#addMore").click(function(){
        $(".row-fluid:last").clone().appendTo(".wrapper");
    });
</script>


{% block specialscripts %}
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-export.js' %}"></script>
<!--  editable JS
    ============================================ -->
<script src="{% static 'zodiakApp/js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/mock-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/select2.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/moment.min.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/xediable-active.js' %}"></script>
{% endblock specialscripts %}