
{% extends 'zodiakApp/adminHome.html' %}
{% load staticfiles %}

{% block morecss %}
<link rel="stylesheet" href="{% static 'zodiakApp/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'zodiakApp/css/form/all-type-forms.css' %}">
{% endblock morecss %}

{% block contents %}
<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--            <div class="breadcome-list single-page-breadcome">-->
                <!--<div class="row">-->
                <!--    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--        <div class="breadcome-heading">-->
                <!--            job.job_id}}-->
                <!--        </div>-->
                <!--    </div>-->
                <!--    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--        <ul class="breadcome-menu">-->
                <!--            <li><a href="#">Home</a> <span class="bread-slash">/</span>-->
                <!--            </li>-->
                <!--            <li><span class="bread-blod">Process Job</span>-->
                <!--            </li>-->
                <!--        </ul>-->
                <!--    </div>-->
                <!--</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#reviews">Financial Information</a></li>
                        <li><a href="#all_payment">All Payment Information</a></li>
                        <li>{{job.job_id}}</li>
                    </ul>

                        <div id="myTabContent" class="tab-content custom-product-edit">

                            <div class="product-tab-list tab-pane fade active in" id="reviews">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline10-list mt-b-30">
                                        <div class="sparkline10-hd">

                                        </div>
                                        <div class="sparkline10-graph">
                                            <div class="basic-login-form-ad">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="basic-login-inner inline-basic-form">
                                                            <form action="{% url 'zodiakApp:financials' job.pk %}" method="post" enctype="multipart/form-data">
                                                                    {% csrf_token %}

                                                                {% for message in messages %}
                                                                   <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                                                {% endfor %}

                                                                <div class="form-group-inner">
                                                                    <h5>Duty</h5>
                                                                    <div class="row">
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                <select style="font-size: 12px; height: 28px;" name="fb_type_of_container" required class="form-control"> 
                                                                                <option value="" selected="" disabled="">Select.....</option>
                                                                                <option value="Form M">Form M</option>
                                                                                <option value="Commercial Invoice">Commercial Invoice</option>
                                                                                <option value="Packing List">Packing List</option>
                                                                                
                                                                            </select>
                                                                        </div>


                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                            <label>Amount (₦)</label>
                                                                            <input type="number" min='1.0' name="duty_amount" id="duty_amount" step='any' class="form-control basic-ele-mg-b-10 responsive-mg-b-10" />
                                                                        </div>

                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                            <label>Paid By</label>
                                                                            <input type="text" name="duty_paid_by" id="duty_paid_by" class="form-control basic-ele-mg-b-10 responsive-mg-b-10" />
                                                                        </div>
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                            <label>Date paid</label>
                                                                            <input type="date" name="duty_date_paid" id="duty_date_paid" class="form-control basic-ele-mg-b-10 responsive-mg-b-10"/>
                                                                        </div>
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                            <label>Refundable As</label>
                                                                            <input type="text" name="duty_refundablle_as" id="duty_refundablle_as" class="form-control basic-ele-mg-b-10 responsive-mg-b-10"/>
                                                                        </div>

                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">

                                                                            <i class="fa fa-plus btn-copy-4"></i>&nbsp;
                                                                            <i class="fa fa-minus btn-copy-minus-4"></i>
                                                                        </div>





                                                                    </div>
                                                                </div>
                                                                <hr>

                                                                <div class="form-group-inner">
                                                                 <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                        <div class="login-horizental">
                                                                            <button class="btn btn-sm btn-primary login-submit-cs pull-right" type="submit">Save</button>
                                                                        </div>
                                                                    </div>
                                                                 </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div class="product-tab-list tab-pane fade" id="all_payment">
                              <div class="row">
                                <div class="data-table-area mg-b-15">
                                    <div class="container-fluid">
                                        <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">

                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">

                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                                <style>
                                                    th,td{font-size: 10px;}
                                                </style>
                                        <thead>
                                            <tr class="info">
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="job_id">DC</th>
                                                <th data-field="total_cost">Total cost (₦)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for fin_obj in job.getfinances %}
                                            <tr class="info">
                                                <td></td>
                                                <td>{{fin_obj.job_finance}}</td>
                                                <td>{{fin_obj.jobtotalCost|default_if_none:"0.0"}}</td>
                                                <td class="datatable-ct">
                                                    <a title="view finance item"><i class="fa fa-eye"></i></a>&nbsp;
                                                    <a title="edit finance item"><i class="fa fa-pencil"></i></a>&nbsp;
                                                    <a title="delete finance item" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}


{% block specialscripts %}
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'zodiakApp/js/data-table/bootstrap-table-export.js' %}"></script>
<!--  editable JS
    ============================================ -->
<script src="{% static 'zodiakApp/js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/mock-active.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/select2.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/moment.min.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'zodiakApp/js/editable/xediable-active.js' %}"></script>

<script>
  $('body').on('change','#arrival_status',function(e){
        var selected = $(this).find(":selected").val()
        if(selected == "short_landed"){
            $(".firstbatch").removeClass("hidden")
            $(".secondbatch").removeClass("hidden")
            $(".submititem").removeClass("hidden")
        }else{
            $(".firstbatch").removeClass("hidden")
            $(".secondbatch").addClass("hidden")
            $(".submititem").removeClass("hidden")
        }
        });
</script>
{% endblock specialscripts %}